[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[packages]
flask = "*"
ansicolors = "*"
requests = "*"
confluent-kafka = {extras = ["avro"], version = "*"}

[requires]
python_version = "3.5"
